.main {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: red;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap !important;
  transform: translateX(0%) !important;
  z-index: 100;
}
.mainHidden {
  transform: translateX(-100%) !important;
  opacity: 0 !important;
}
.mainPage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
  padding-top: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap !important;
}
.mainPage h1 {
  margin-top: 10%;
  position: relative;
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.2px;
  display: block;
  flex: 1;
}
.mainPage .sentence {
  position: relative;
  letter-spacing: 0.3px;
  font-size: 1rem;
  display: block;
  flex: 1;
}
.sayPosition {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.signInBox {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 0 15%;
  margin-bottom: 45%;
}
.signInBox .tips {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20%;
}
.signInBox .tips span {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.3rem;
  color: #58dafe;
  letter-spacing: 0.7px;
  transform: scaleY(1.2);
}
.signInBox .signInItems {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.signInBox .signInItems .signInSpan {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 900;
  letter-spacing: 0.7px;
  transform: scaleY(1.2);
  padding: 10px;
}
.signInBox .signInItems .item {
  width: 100%;
}
.signInBox .signInItems .inputItem {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 5px 10px 10px;
}
.signInBox .signInItems .inputItem .inputTips {
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.9px;
  flex: 1;
}
.signInBox .signInItems .inputItem input {
  position: relative;
  flex: 1;
  width: 100%;
  margin-top: 10px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: solid 2px white;
  color: white;
  display: block;
}
.signInBox .signInItems .inputItem .inputItemCheck {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 5px;
  transition: 0.3s;
  transform-origin: left;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  background: #00cec9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.signInBox .signInItems .optionItem {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.signInBox .signInItems .optionItem .optionCheck {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #eb748b;
  background: transparent;
  box-sizing: border-box;
  margin-right: 10px;
}
.signInBox .signInItems .optionItem .optionCheck:active {
  background: #eb748b;
}
.signInBox .signInItems .optionItem .optionTips {
  position: relative;
  letter-spacing: 1px;
  flex: 1;
  transform: scaleY(1.05);
}
.signInBox .signInItems .buttonItem {
  position: relative;
  width: 90%;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
}
.signInBox .signInItems .buttonItem .buttonTips {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  background: #2297b9;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.backBtn {
  position: absolute;
  bottom: 10%;
  left: 0;
  height: 40px;
  width: auto;
  border-radius: 0 3px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  transform: translateX(-15px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.backBtn:hover .backIcon {
  background: #bb1177;
  animation: backIconHover 0.4s 1 running cubic-bezier(0.25, 0.25, 0, 0.99) forwards;
}
.backBtn .backIcon {
  position: relative;
  height: 100%;
  width: 50px;
  background: #ed3398;
  transform: skewX(-15deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
}
.backBtn .backIcon img {
  pointer-events: none;
  transform: skewX(15deg);
}
.backBtn .backText {
  position: relative;
  color: white;
  height: 100%;
  width: 60px;
  transform: skewX(-15deg);
  background: #ed3398;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.backBtn .backText:before {
  content: "back";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 7px;
  left: 36px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  transform: translateX(-22px) skewX(15deg) scaleY(1.1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
@keyframes backIconHover {
  0% {
    width: 50px;
  }
  20% {
    width: 74px;
  }
  40% {
    width: 62px;
  }
  60% {
    width: 70px;
  }
  80% {
    width: 64px;
  }
  100% {
    width: 68px;
  }
}
/*# sourceMappingURL=sideLogin.module.css.map */